.nav-bar>a{
    font-size: 1.5rem;
    font-family: 'courier new', 'Times New Roman', Times, serif;
    -webkit-font-smoothing: subpixel-antialiased;
    color: white;
    text-decoration: none;
}
.nav-bar>a:hover{
    text-decoration: underline;
    text-underline-mode: 10px;
}

a{
    padding: 0 3rem;
    border-right: 1px white solid;
}

.nav-bar :last-child{
    border-right: none;
}
