.nav-bar>a{
    font-size: 1.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 2px;
    -webkit-font-smoothing: subpixel-antialiased;
    color: white;
    text-decoration: none;
}

a{
    padding: 0 3rem;
    border-right: 1px white solid;
}

.nav-bar :last-child{
    border-right: none;
}
